@import "bootstrap";
/*
 *= require_tree .
 *= require_self
 */
 body {
  padding-top: 40px;
}
.btn btn-primary btn-lg btn-block {
  width: 50px;
}
form {
  padding-left: 120px;
  font: 12pt sans-serif;
  line-height: 1.75;
  span {
   color: red;
 }
}
.h1_form, h2, .devlink {
  padding-left: 120px;
  }
.logo {
  width: 893px;
}

.dopdiv {
  background-color: rgba(195, 100, 100, 0.1);
  padding: 15px;
  border-radius: 5px;
  display: none;
}
input {
  padding: 10px;
}
